@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.header {
    background-color: #ccc;
    overflow: hidden;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.sub-title {
    text-align: center;
    background-color:lightgrey;
    padding: 0;
    margin: 0;
}


.nav {
    padding:0;
    list-style-type: none;
}

.nav a{
    display: block;
    padding: 0.25em;
    text-decoration: none;
    color: #0074D9
}

@media only screen and (min-width: 26em) {
    
    .nav li {
     display:inline-block;
    }
    
    .nav {
    text-align: center;
    }
}
    
@media only screen and (min-width: 44em) {
    
    .title {
        text-align: left
    }
    
    .nav {
        text-align: left
    }
}